.profile {
  display: flex;
  justify-content: space-around;
  margin: 1rem auto 0;
  width: 90%;
}

.profile tr th {
  font-size: 28px;
  text-align: left;
  vertical-align: top;
  height: 50px;
}

td {
  width: 33%;
}

.profile-dragons {
  width: 100%;
  margin: 0 80px;
  border-collapse: collapse;
}

.profile-dragons tbody tr td {
  border: 1px solid #999;
  height: 40px;
  vertical-align: top;
  padding: 6px;
  font-size: 18px;
}

.Rockets-profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Rockets-profile-container h2 {
  font-size: 2.5rem;
}

.Rockets-profile-container p {
  font-size: 1.25rem;
  border-radius: 4px;
  padding: 0.3rem 0.5rem;
}
