.missions {
  color: #333;
  border: 1px solid #ddd;
  border-collapse: collapse;
  margin: 20px 5%;
}

.missions td {
  border: 1px solid #ddd;
  padding: 5px;
}

.missions th {
  border: 1px solid #ddd;
  text-align: left;
  padding: 5px;
  font-size: 20px;
  font-weight: 600;
}

.td-mission {
  vertical-align: top;
  width: 10%;
  font-size: 20px;
  font-weight: 600;
}

.status,
.button {
  text-align: center;
  width: 10%;
}

.mission-status-join {
  font-size: 14px;
  background-color: #777;
  color: #fff;
  padding: 2px 5px;
  border-radius: 5px;
  font-weight: 500;
}

.td-join-mission {
  font-size: 16px;
  background: none;
  padding: 5px 7px;
  border: 2px solid #777;
  border-radius: 3px;
}

.td-join-mission:hover {
  cursor: pointer;
}

.td-description {
  font-size: 14px !important;
  width: 55%;
}

/* JOIN STATE  */
.join-rows {
  background-color: #dee2e6;
}

.td-leave-mission {
  font-size: 14px;
  background: none;
  color: #f00;
  border: 1px solid #f00;
  padding: 7px 10px;
  border-radius: 3px;
}

.td-leave-mission:hover {
  cursor: pointer;
}

.mission-status-leave {
  background-color: #22b8cf;
  font-size: 14px;
  color: #fff;
  border-radius: 3px;
  padding: 2px 5px;
  font-weight: 600;
  letter-spacing: 0.5px;
}
